body {
    color: white;
    background-image: url("./lost.PNG");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-gallery,
.container-purple 
{
    border: 2px solid #271e8e;
    background: linear-gradient(90deg, rgb(109, 12, 109) 0%, rgba(39,30,142,1) 50%, rgb(120, 17, 146) 100%);;
    padding: 16px 32px 16px 32px;
    font-family: Cabin-Condensed;
    font-size: larger;
}
.container-purple > div
{
    background-color: #271e8e;
    border: 1px solid #040033;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
}

.container-blog {
    font-family: Cabin-Condensed;
    font-size: larger;
}

.container-gallery > img
{
    max-width: 600px;
    max-height: 300px;
    cursor: pointer;
}

.header-purple {
    font-family: Bubblegum-Sans;
    background-color: #271e8e;
    outline: 4px solid #271e8e;
    padding: 6px;
    left: 24px;
    margin: 0 auto;
    text-align: center;
}
.header-purple > h1
{
    background-color: #0e0757;
    padding: 24px;
    outline: 4px solid rgb(99, 0, 119);
    margin: 0 auto;
}

.header-date
{
    color: #ff69ff;
    background-color: #1a136e;
    border: 2px solid #040033;
    padding: 6px;
    width: 50%;
    font-family: Bubblegum-Sans;
    text-align: center;
}

/* images */
.img-thumbnail {
    outline: 4px solid #020088;
    background-color: #0269a5;
    max-width: 50%;
    max-height: 50%;
}

.img-border {
    outline: 4px solid #020088;
    background-color: #0269a5;
    max-width: 400px;
}

.img-thumbnail-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    outline: 4px solid #020088;
    background-color: #0269a5;
    padding: 5px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
}

.homebutton {
    font-family: Bubblegum-Sans;
    font-size: x-large;
    color: #1d27ad;
    background-color: #5f89e4;
    border: 4px solid #271e8e;
    border-radius: 16px;
    padding: 6px;
    margin: 12px;
    min-width: 30%;
}

.homebutton>img {
    vertical-align: middle
}

.homebutton:hover {
    color: #ffffff;
    border: 4px solid #3901bb;
    background-color: #113ed1;
}

.copyright{
    color:rgba(152, 129, 255, 0.836);
    font-family: Cabin-Condensed;
    bottom: 0%;
}